@font-face {
    font-family: XUY;
    src: url(ARIALMT.ttf);
    font-style: normal;
    font-weight: normal;
}

/*
div {
    border: solid 1px red;
}
*/
body {
    padding: 0px;
    margin: 0px;
    color: #404040;
    font-family: "XUY", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: regular;
}

h2 {
    color: #000000;
    font-family: "XUY", arial;
    font-size: 40px;
    font-weight: bold;
    line-height: 61px;
    text-transform: uppercase;
}


.tb {
    outline: 1px solid rgb(0, 0, 0, 0.1);
    width: 50px;
    height: 40px;
    padding: 0;
    padding-left: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;

}

.container {
    width: 1200px;
    margin: 0 auto;
    /*border: solid 5px green;*/
}

.page-header .container {
    background-image: url("img/wheat-back.jpg");
    background-repeat: no-repeat;
    padding-top: 60px;
    min-height: 550px;
    background-position: center;
    background-size: cover;
}

.header-top {
    margin-left: 200px;
}

.header-logo {
    float: left;
    width: 140px;
    height: 76px;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}

.header-logo:hover {
    transform: scale(0.96);
}

.main-nav {
    margin: 0px;
    margin-top: 10px;
    margin-left: 55px;
    padding-top: 10px;
    float: left;
    height: 50px;
    width: 600px;
    list-style: none;
    border-top: solid 1px rgb(255, 255, 255, 0.3);
    border-bottom: solid 1px rgb(255, 255, 255, 0.3);

}

.main-nav li {
    float: left;
    margin-left: 50px;
    margin-top: 14px;
}

.main-nav a {
    color: #ffffff;
    font-family: "XUY", arial;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.main-nav a:hover {
    color: #ffcb78;
    display: inline-block;
    border-bottom: solid 2px rgb(255, 255, 255, 0.3);
    height: 36px;
    transform: scale(0.98);
}

.footer a:hover {
    color: #ffcb78;
    display: inline-block;
    border-bottom: solid 2px rgb(255, 255, 255, 0.3);
    height: 36px;
}
}

.main-nav a:active {
    color: white;
    text-shadow: 1px 1px 3px white, -1px -1px 3px white;

    font-family: Arial;
}

.main-nav li:first-child {
    margin-left: 0px;
}

.header-title {
    text-align: center;
    margin: 120px auto 0;
    clear: both;
    width: 600px;
    color: #ffffff;
    font-family: "XYZ", arial;
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
}

.vahter {
    display: inline-block;
    float: left;
    width: 400px;

}

.romantik {
    width: 400px;
    display: inline-block;
    ;
}

.alko1 {

    font-family: "Arial - Bold MT", arial;
    font-size: 16px;
    font-weight: bold;
}

.alko2 {

    font-family: "Arial - Bold MT", arial;
    font-size: 16px;
    font-weight: bold;
}

.title-nov {
    padding: 0px;
    margin: 0px;
    padding-left: 35px;
}

.tb1 {
    font-family: "Arial MT", arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: -470px;
    margin-left: 180px;
    width: 170px;
}



.info2 {
    position: relative;
    left: 210px;
    width: 160px;
}



.novinki-div {
    margin-left: 200px;
}


.pivo {
    padding: 0;
    margin: 0 auto;
    width: 805px;
}

.kvas-footer {
    margin-top: 332px;
    width: 330px;
    font-size: 16px;
    line-height: 30px;
}

.podrobnee {
    float: left;

    border: 2px solid #834701;
    width: 145px;
    height: 50px;
    padding-top: 22ps;
}

.podrobnee:hover {
    border: 2px solid #572e01;
}

.podrobnee a:hover {
    color: #572e01;
}

.podrobnee a {
    display: inline-block;

    margin-top: 15px;
    margin-left: 20px;

    color: #834701;
    text-decoration: none;
    font-family: "Arial - Bold MT", arial;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.kupit {
    float: left;
    margin-left: 8px;
    border: 1px solid #834701;
    width: 108px;
    height: 50px;
    padding-top: 22ps;
    background-color: #834701;
}

.kupit:hover {
    background-color: #572e00;
}

.kupit a {
    display: inline-block;

    margin-top: 15px;
    margin-left: 20px;

    color: white;
    text-decoration: none;
    font-family: "Arial - Bold MT", arial;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    display: inline-block;
    margin-top: 12px;
    margin-left: 26px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

.features .container {
    background-color: #ffcb78;

    width: 1200px;
    height: 400px;
}

.features ul {

    margin-left: -40px;
    margin-top: 70px;
    height: 230px;
}

.features-item {

    list-style-type: none;
    width: 392px;
    float: left;
    margin-top: 70px;
    height: 230px;
}

.features-varim {
    background-image: url(img/icon-brew.png);
    background-repeat: no-repeat;
    background-position: 80px 0px;
}

.features-rodnoe {
    background-image: url(img/icon-matreshka.png);
    background-repeat: no-repeat;
    background-position: 80px 0px;
}

.features-econom {
    background-image: url(img/icon-thumbsup.png);
    background-repeat: no-repeat;
    background-position: 80px 0px;
}

.features-item h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 80px;
    margin-top: 110px;
}

.features-item p {
    display: inline-box;
    width: 200px;
    margin-left: 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.reference dl {
    padding: 0px;

    margin-left: 200px;
    width: 800px;
}

.reference dt:last-child {
    display: inline-block;
    margin-top: 75px;
}

.reference dd {
    min-height: 100px;
    width: 800px;
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 50px;
}

.reference dd img {
    margin-top: 33px;
    position: relative;
    float: right;

}

.reference p {
    margin-top: 30px;
    display: inline-block;
    width: 470px;
    font-size: 16px;
    line-height: 30px;
}

.reference h2 {
    margin-left: 200px;
    font-size: 40px;
}

.reference h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    color: black;
}

.reference i {
    font-size: 16px;
    display: inline-block;
    float: right;
}

.reference a {
    font-size: 16px;
    color: #7e5719;
}

.reference a:hover {
    color: #412800;
}

.reviews .container {
    width: 1200px;
    height: 480px;
    background-color: #ede5d8;
}

.reviews h2 {
    font-family: "Arial - Bold MT", arial;
    font-size: 40px;
    font-weight: bold;
    line-height: 61px;
    text-transform: uppercase;
    padding-top: 95px;
    padding-left: 202px;
}

.reviews blockquote {

    margin: 0px;
    padding-left: 199px;
    padding-right: 310px;
    padding-top: 30px;
    font-family: "Arial MT", arial;
    font-size: 16px;
    font-weight: regular;
    line-height: 30px;
    background-image: url("img/quotes.png");
    background-repeat: no-repeat;
    background-position: 95px 5px;

}

.reviews i {
    color: #000000;
    font-family: "Arial - Bold MT", arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    font-style: normal;
    float: right;
    margin-right: -106px;
    margin-top: 50px;
}

.reviews a {
    display: inline-block;
    width: 130px;
    height: 20px;
    border: 2px solid #000000;
    opacity: 0.3;
    text-decoration: none;
    padding: 0px;
    padding-left: 15px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 17px;
    font-size: 20px;
    margin-top: 40px;
}

.reviews a:hover {
    background-color: #474642;
    color: white;
}

.price-list .container {
    height: 630px;
}

.price-list h2 {
    padding-top: 40px;
    margin-left: 199px;
    padding-bottom: 30px;
}

.price-list table {
    border-collaps: collaps;
    margin-left: 200px;
}

.price-list table td:first-child {
    width: 400px;
    height: 65px;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #00000026;
}

.price-list table td:nth-child(2) {
    width: 95px;
    height: 65px;
    border-bottom: 1px solid #00000026;
}

.price-list table td:nth-child(3) {
    width: 65px;
    height: 65px;
    border-bottom: 1px solid #00000026;

}

.price-list table td:nth-child(4) {
    width: 175px;
    height: 65px;
    border-bottom: 1px solid #00000026;
}

.price-list table td:nth-child(5) {
    width: 95px;
    height: 65px;
    border-bottom: 1px solid #00000026;
}

.table tr:nth-child(1) {
    color: #9c9c9c;
    text-transform: uppercase;
}


.table tr:nth-child(2) {
    font-family: "Arial MT", arial;
    font-size: 16x;
    line-height: 30px;
    text-transform: uppercase;
}

.table tr:nth-child(3) {
    font-family: "Arial MT", arial;
    font-size: 16x;
    line-height: 30px;
    text-transform: uppercase;
}

.table tr:nth-child(4) {
    font-family: "Arial MT", arial;
    font-size: 16x;
    line-height: 30px;
    text-transform: uppercase;
}

.table tr:nth-child(5) {
    font-family: "Arial MT", arial;
    font-size: 16x;
    line-height: 30px;
    text-transform: uppercase;
}

.table tr:nth-child(n+2)>:first-child {
    color: #000000;
    font-family: "Arial - Bold MT", arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

.table h3 {
    background-color: #000000;
    display: inline-block;
    position: relative;
    padding-top: 2px;
    padding-bottom: 0px;
    top: -10px;
    left: 20px;
    position: -5px;
    line-height: 8px;
    height: 13px;
    border-radius: 3px;
    color: #ffffff;
    font-family: "Arial - Bold MT", arial;
    font-size: 8px;

    text-transform: uppercase;
}

.buy .container {
    padding-left: 200px;
    width: 1000px;
    height: 1185px;
    background-color: #ffcb78;

}

.buy .container h2 {
    margin: 0px;
    padding-top: 95px;
}

.buy .container p {
    display: inline-block;
    width: 640px;
    color: #404040;
    font-family: "Arial MT", arial;
    font-size: 16px;
    line-height: 30px;
    margin-top: 90px;
    margin-bottom: 80px;
}

.buy .container label {

    color: #000000;
    font-family: "Arial - Bold MT", arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

.buy .container input {
    display: block;
    margin-top: 12px;
    width: 630px;
    height: 50px;
    margin-bottom: 30px;
    background-color: #e5b76c;
    border: none;
}

.buy .container input:hover {
    background-color: #b18744;
}

.buy .container select:hover {
    background-color: #b18744;
}

.buy .container textarea:hover {
    background-color: #b18744;
}

.buy .container .inp {
    margin-right: 48px;
    width: 290px;
    height: 77px;
    display: inline-block;
}

.buy .container .inp input {
    width: 290px;
    height: 50px;
    display: inline-block;
}

.buy .container .inp.dop input {
    clear: both;
}

.buy .container select {
    display: block;
    margin-top: 12px;
    width: 630px;
    height: 52px;
    margin-bottom: 30px;
    background-color: #e5b76c;
    border: none;
}

.buy .container textarea {
    display: block;
    margin-top: 12px;
    width: 630px;
    height: 121px;
    margin-bottom: 30px;
    background-color: #e5b76c;
    border: none;
}

.buy .container .class1 {
    padding-left: 54px;
    padding-top: 12px;
}

input[type=checkbox] {
    display: inline-block;

    position: relative;
    top: -64px;
    left: -370px;
    display: block;
    zoom: 0.7;
    color: #e5b76c;
}

.buy .container .btn {
    margin-top: -45px;
    width: 200px;
    height: 50px;
    background-color: #834700;
    color: #ffffff;
    font-family: "Arial - Bold MT", arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

}

.page-footer .container {
    padding-top: 60px;
    width: 1200px;
    height: 250px;
    background-color: #000000;
}

.footer-top {

    margin-left: 200px;
}

.footer-logo {
    float: left;
    width: 140px;
    height: 76px;
    margin-left: -80px;
}

.main-nav.footer {
    width: 620px;
    margin-left: 130px;
}

.footer-footer {
    margin-top: 47px;
}

.footer-footer .footer-social {
    float: left;
    margin-left: 75px;
}

.footer-footer p {
    float: left
}

.footer-social a {
    display: inline-block;
    float: left;

    width: 70px;
    height: 70px;
    background-color: #181818;
}

.footer-social .inst {
    background-image: url("img/icon-insta.png");
    background-repeat: no-repeat;
    background-position: 30px 28px;

}

.footer-social .inst:hover {
    background-color: #2c2c2c;
}

.footer-social .fb:hover {
    background-color: #2c2c2c;
}

.footer-social .vk:hover {
    background-color: #2c2c2c;
}

.footer-social .fb {
    background-image: url("img/icon-fb.png");
    background-repeat: no-repeat;
    background-position: 30px 28px;
}

.footer-social .vk {
    background-image: url("img/icon-vk.png");
    background-repeat: no-repeat;
    background-position: 27px 28px;
}

.footer-bottom p {
    display: inline-block;
    margin-left: 90px;
    width: 195px;
    height: 30px;
    color: #989898;
    font-family: "Arial MT", arial;
    font-size: 14px;

    line-height: 20px;
}


.copyright {
    display: inline-block;
    float: left;

    width: 70px;
    height: 70px;
    background-color: #181818;
    background-image: url("img/htmlacademy.png");
    background-repeat: no-repeat;
    background-position: 23px 20px;
    margin-left: 200px;
}